@{
    ViewData["Title"] = "My Digital art";
}


<div class="container mt-4">
    <h1 class="text-center mb-4">🎨 My Digital Art</h1>

    <div class="row">
        <!-- Artwork 1 -->
        <div class="col-md-4">
            <div class="card shadow">
                <img src="\images\IMG_0208.jpeg" class="card-img-top" alt="Sunset Over Nan">
                <div class="card-body text-center">
                    <h5 class="card-title">Moon Over everest</h5>
                    <a href="/DigitalArt/Details/1" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <!-- Artwork 2 -->
        <div class="col-md-4">
            <div class="card shadow">
                <img src="/images/IMG_0225.jpeg" class="card-img-top" alt="town">
                <div class="card-body text-center">
                    <h5 class="card-title">City Town</h5>
                    <a href="/DigitalArt/Details/2" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <!-- Artwork 3 -->
        <div class="col-md-4">
            <div class="card shadow">
                <img src="\images\IMG_0231.jpeg" class="card-img-top" alt="evening">
                <div class="card-body text-center">
                    <h5 class="card-title">an Evening</h5>
                    <a href="/DigitalArt/Details/3" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
