@{
    ViewData["Title"] = "Welcome to Yotaka’s Space";
}

<div class="container">
    <div class="row align-items-center">
        <!-- picture Section (Left) -->
        <div class="col-md-4">
            <img src="https://cdn.pixabay.com/photo/2016/04/12/00/16/blind-alley-1323493_1280.png" alt="Cat" width="500" height="500" class="ml-5" style="margin-left: -20px;"/>
        </div>

        <!-- Existing Content (Right) -->
        <div class="col-md-8 text-end">
            <h1 class="display-4 ms-5">Welcome to Yotaka’s Space</h1>
            <p class="custom-paragraph ms-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima, maxime facere, magni incidunt voluptas
                consequuntur debitis officia, vitae odio eveniet rerum voluptates et ab! Vel doloremque excepturi est nihil,
                distinctio libero quae natus maxime! Velit exercitationem accusantium fugiat nostrum vero reprehenderit provident,
                architecto dolore numquam placeat facilis perferendis hic?
            </p>
            <a href="/Projects" class="btn btn-primary mt-2 me-2">View Projects</a>
            <a href="/Contact/contact" class="btn btn-primary mt-2">Contact Me</a>
        </div>
    </div>
</div>
