@{
    ViewData["Title"] = "Projects";
}


<div class="container mt-4">
    <h1 class="text-center mb-4 text-light">📂 My Projects</h1>

    <div class="row">
        <!-- Project 1 -->
        <div class="col-md-6">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1620388640785-892616248ec8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aW52ZW50b3J5fGVufDB8fDB8fHww" class="card-img-top" alt="Inventory Management System" width="400" height="500">
                <div class="card-body">
                    <h5 class="card-title">Inventory Management System</h5>
                    <p class="card-text">A simple inventory system using C#, SQLite asp-append-version mongoDB.</p>
                    <a href="/Projects/Details/1" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="col-md-6">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1586214601498-4dbcfd0bf2c8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG9zdGVsfGVufDB8fDB8fHww" class="card-img-top" alt="Hostel Booking Web App" width="400" height="500">
                <div class="card-body">
                    <h5 class="card-title">Expenses App</h5>
                    <p class="card-text">An Expenses App with in-memory data storage.</p>
                    <a href="/Projects/Details/2" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
